{% load staticfiles %}
{% include "givesmartapp/base.html" %}

<body>

<div class="container-fluid">
{% include "givesmartapp/searching.html" %}
    <div class="recommendations">
    <span class="recommendations">Your Charities</span>
    </div>
    <div>
        
        {% for charity in charities %}

        {% with charity.image_url as image_url %}
        <div class="panel panel-default fjord">
            <div class="panel-heading" id="{{charity|get_id}}">
                <div class="row">
                    <div class="col-lg-2">
                    <div class="panel-logo">
                    <img src="{% static image_url %}" class="charity-logo" alt="{{charity.initials}} Logo"/>
                    </div>
                    </div>
                    <div class="col-lg-7">
                    <span class="h1 panel-head"><a href="/charity/{{charity.initials}}"> {{charity.name}}</a> </span>
                    </div>
                    <div class="col-lg-4 stars" id="rateYo{{forloop.counter}}"></div>
                    <div class="my-liked" data-reblog="{ReblogURL}" data-id="{PostID}" title="Like"></div>
                
            
            <!-- <form class="form-inline inline pull-right" id="donate-form" action="/donate/" method="POST"> -->
                <div class="input-group pull-right account-donated">Total donated: $110</div>
                <!-- <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input title="Donate" class="form-control search-form" type="search" form="donate-form" name="amount">
                    
                </div> -->
    

            <!-- </form> -->
            </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}
        
        
        

    </div>

</div>
<script>$(".panel-heading").on("click", function(){
    var panel = $(this).attr('id');
    
    
    $('#' + panel +'.panel-body').toggle(100, function(){});
    // $(".panel-body").toggle("fast", function(){});
});
$( document ).ready(function () {
 
    for(i = 1; i < 10; i++){
        $("#rateYo" + i).rateYo({
            rating: 3.6
        }); 
    }

});
$("[id*='rateYo']" ).click(function(e){
    e.stopPropagation();
    return true;

});
$("a" ).click(function(e){
    e.stopPropagation();
    return true;

});

$(".my-like").click(function(e){
    e.stopPropagation();
    if ($(this).hasClass("my-like")){
        $(this).removeClass("my-like").addClass("my-liked");    
    }
    else{
        $(this).removeClass("my-liked").addClass("my-like");       
    }

    
    return true;
});

$(".my-liked").click(function(e){
    e.stopPropagation();
    if ($(this).hasClass("my-liked")){
        $(this).removeClass("my-liked").addClass("my-like");    
    }
    else{
        $(this).removeClass("my-like").addClass("my-liked");       
    }

    
    return true;
});
</script>

</body>
