{% include "givesmartapp/base.html" %}
{% load staticfiles %}
<body>
<div class="container-fluid">
{% include "givesmartapp/searching.html" %}

<!-- Begin here

end here -->

</div>

<div class="container document-list">
    <div class="row row-centered">
        <ul class="list-inline">
        {% for charity in charities %}
        <li>
        <!-- <div class="col-xs-6 col-centered"> -->
            <div class="panel panel-default fjord">
                <div class="panel-heading" id="{{charity|get_id}}">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="panel-logo">
                                {% with charity.image_url as image_url %}
                                <img src="{% static image_url %}" class="charity-logo" alt="{{charity.initials}} Logo"/>
                                {% endwith %}
                            </div>
                        </div>   

                        <div class="col-xs-8">
                            <span class="h4 panel-head-compare"><a href="/charity/{{ charity.initials }}">{{ charity.name }}</a> </span>
                            <div class="compare-stars" id="rateYo{{forloop.counter}}"></div>
                        </div>                 

                    </div>    
                </div>
                <div class="panel-body" id="{{charity|get_id}}">
                   <ul>
                    {% for stat in charity.stats %}
                        <li>{{ stat }}: {{ charity.stats|get_item:stat }}</li>
                    {% endfor %}
                    </ul>
                    {% with charity.chart_url as chart %}
                        
                            <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="{{ chart}}"></iframe>
                        
                    {% endwith %}
                    
                </div>
        <!-- </div> -->
        </li>
        {% endfor %}
        </ul>
    </div>
</div>

<script>
$( document ).ready(function () {
 
    for(i = 1; i < 100; i++){
        $("#rateYo" + i).rateYo({
            rating: 3.6
        }); 
    }

});
$(".my-like").click(function(e){
    e.stopPropagation();
    if ($(this).hasClass("my-like")){
        $(this).removeClass("my-like").addClass("my-liked");    
    }
    else{
        $(this).removeClass("my-liked").addClass("my-like");       
    }

    
    return true;
});
</script>

</body>