{% include "givesmartapp/base.html" %}
<body>
<div class="container-fluid">
{% include "givesmartapp/searching.html" %}
<div class="center-block pager">
<h3>Place a donation towards: <span class="fjord donate">{{charity.name}}</span></h3>
<form class="form-inline inline" id="donate-form" action="/submit/" method="POST">
	{% csrf_token %}
	<div class="input-group">
	    <span class="input-group-addon">$</span>
	    <input title="Donate" class="form-control search-form" type="search" form="donate-form" name="amount" value="{{amount}}">
	    <div class="input-group-btn">
	        <input type="submit" class="btn btn-default" value="Confirm" name="submission"/>
	        <input type="submit" class="btn btn-default" value="Cancel"  name="submission"/>
	    </div>
	</div>
	<input type="hidden" form="donate-form" name="charity"
                       value="{{ charity.initials }}"/>

</form>


</div>
</div>
</body>