<div class="well">
    <div class="h4">
        Use GiveSmart with just 3 Simple Steps!
    </div>
    <form class="hidden" id="search-form" action="/{#url for searching#}"></form>
    <div class="form-inline inline-block">
            <span class="input-group">
                <input title="Search" class="form-control" type="search" form="search-form" name="search">
                <span class="input-group-btn">
                    <input class="btn btn-default" type="submit" form="search-form" value="Search">
                </span>
            </span>
    </div>
    <span>Or</span>
    <div class="dropdown inline-block">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Browse By Category
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="/?category=GLOBAL POVERTY">Global
                Poverty</a></li>
            <li><a href="/?category=HEALTHCARE">Healthcare</a>
            </li>
            <li><a href="/?category=ANIMALS">Animals</a>
            </li>
            <li><a href="/?category=LOCAL">Local </a></li>
        </ul>
    </div>
    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Compare <span
        class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Donate
</div>