{% load staticfiles %}

{% include "givesmartapp/base.html" %}

<body>
{% include "givesmartapp/searching.html" %}
<form action="/compare/" method="POST">
    {% csrf_token %}
    {% for charity in charities %}

        {% with charity.image_url as image_url %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <input type="checkbox" name="charity" value="{{ charity.initials }}"/>

                    <img src="{% static image_url %}" class="charity-logo" alt="{{ charity.initials }} Logo"/>
                    <span class="h2"><a href="charity/{{ charity.initials }}"> {{ charity.name }}</a> </span>
                </div>
                <div class="panel-body">
                    <h4>Summary</h4>
                    <p>
                        {{ charity.summary }}
                    </p>
                    <h4>Key Statistics</h4>
                    <p>
                        {{ charity.key_statistics }}
                    </p>
                </div>
            </div>

        {% endwith %}



    {% endfor %}
    <input class="btn btn-default" style="margin-left:5px" type="submit" value="Compare"/>
    <!-- <button class="btn btn-primary" value="Compare"/>Compare charities</button> -->
</form>
</body>